input{
  line-height:initial;
  align-content:stretch;
}

input{
}

body{
  font-family:arial,helvetica,sans-serif;
}

#{
}

#selamat p{
}

#selamat p{
  max-width:800px;
}

#selamat p{
  max-width:800px;
}

#{
}

.item i{
}

.item i{
  font-size:42px;
}

#selamat .item i{
  font-size:42px;
}

i.glyphicon.glyphicon-book{
  font-size:42px;
}

.selamat{
  text-align:center;
}

.pilih{
  text-align:center;
}

h1.text-center{
  margin-bottom:70px;
  font-weight:normal;
  font-size:60px;
}

i.glyphicon.glyphicon-user{
  font-size:42px;
}

i.fa.fa-user{
  font-size:48px;
}

div.col-md-4{
  margin-bottom:50px;
  border:2px solid black;
  background-color:#80bfff;
}

i.fa.fa-th-list{
  font-size:48px;
}

div.col-md-4{
  border:2px;
}

td{
}

#pinjam{
  width:120px;
}

th{
  width:400px;
}

th#jumlah{
  width:100px;
}

i.fa.fa-retweet{
  font-size:48px;
}

div#user.col-md-4{
  margin-left:100px;
  margin-right:100px;
}

div#transaksi.col-md-4{
}

div.col-md-3{
  margin-left:40px;
  margin-right:10px;
  margin-bottom:40px;
  background-color:#d1e0e0;
}

div#user.col-md-3{
  margin-left:200px;
  margin-right:300px;
}

div#user.col-md-3{
}

div#user_1.col-md-5{
  margin-left:100px;
}

div.div_user{
  text-align:center;
}

i.fa.fa-chevron-down{
  font-size:48px;
}

input#cari{
  width:50%;
  margin-left:5%;
}

button.btn.btn-default.cari{
  margin-left:10px;
}

label#cari{
  font-size:23px;
}

input.form-control.input-sm.cari{
  width:30%;
  margin-left:10%;
  margin-right:10%;
}

